/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* === General Styles === */


* {
  box-sizing: border-box;
}

/* Blog General Styles */ 

.image-blog {
  width: 45.625rem;
  height: 20rem;
}

.blog {
  width: 730px;
  height: 350px;
}

.blog h1 {
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  letter-spacing: 0px;
  font-weight: bold;
  padding: 15px 0px 15px;
}

.blog h2 {
  font-size: 12px;
  letter-spacing: 2.4px;
  line-height: 15px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #b2acba;
}

.blog p {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0px;
  font-weight: normal;
  padding-bottom: 15px;
}

.read-button {
  width: 160px;
  line-height: 15px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding: 11px 0px 10px;
  white-space: nowrap;
  background-color: #ffffff;
  color: #6200ea;
  border: 2px solid #6200ea;
  border-radius: 24px;
}

.blog-wrap {
  padding: 60px 50px 58px;
  background-color: #ffffff;
  border-radius: 15px;
}

/* Vertical Content Genral Styles */

.latest-news, .rec-news, .categories {
  width: 350px;
}

.colour-news {
  border-radius: 15px 15px 0px 0px;
  background-color: #6200ea;
}

.colour-news h2 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 23px 0px 22px;
}

.blank-news {
  border-radius: 0px 0px 15px 15px;
  background-color: #ffffff;
}

.blank-news h2 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #b2acba;
  padding: 23px 0px 22px;
}

/* Article General Styles */

.article {
  background-color: #ffffff;
  position: relative;
  height: 160px;
}

.image-wrap {
  position: absolute;
}

.small-pic {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.article h3 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  line-height: 15px;
  text-align: left;
  text-transform: uppercase;
  color: #6200ea;
  padding: 20px 0px 15px;
}

.article p {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  color: #211138;
  padding-top: 50px;
}

/* Article General Positioning */

.image-wrap {
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
}

.article h3 {
  position: absolute;
  left: 160px;
}

.article p {
  position: absolute;
  left: 160px;
}

/* === Body Styles === */

body {
  width: 100rem;
  height: 146.25rem;
  background-color: #f4f3f5;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}


/* === Header Styles === */

.header-wrap {
  width: 100rem;
  height: 5rem;
  background-color: #6200ea;
  background-repeat: no-repeat;
}

.sub-button {
  width: 10rem;
  line-height: 0.9375rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  padding: 0.8125rem 0px;
  white-space: nowrap;
  background-color: #ffffff;
  color: #6200ea;
  border: 0.125rem solid #ffffff;
  border-radius: 1.5rem;
}

/* === Header Positioning === */

.header-wrap {
  position: relative;
}

.sub-button {
  position: absolute;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 15.3125rem;
}

/* === Nav Styles === */

.nav-wrap {
  height: 5rem;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.hor-button {
  line-height: 0.9375rem;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  font-size: 0.75rem;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.15rem;
  padding-top: 2.0625rem;
  padding-bottom: 2rem;
  color: #211138;
}

.active {
  color: #6200ea;
  border-bottom: 0.25rem solid #6200ea;
  padding-bottom: 1.75rem;
}

/* === Nav Positioning === */

.nav-wrap {
  position: relative;
}

.hor-nav {
  position: absolute;
  margin-left: 13.40625rem;
}

.hor-button {
  margin-left: 4.375rem;
}

/* === Main Content Styles === */

.first-column, .second-column {
  display: inline-block;
}

/* === Main Content Positioning === */

.first-column {
  margin-top: 40px;
  margin-left: 245px;
}

.second-column {
  margin-left: 30px;
}

/* === First Column === */

/* === Featured Blog Post === */

.featured-post .blog-wrap {
  background-image: url("assets/roberto-nickson-5ui0tfMC5ts-unsplash.jpg");
  background-size: cover;
  color: #ffffff;
}

.featured-post .read-button {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
}

/* === Article Row Styles === */

.article-row {
  margin: 30px 0px 30px;
}

.culture, .business {
  width: 350px;
  height: 160px;
  border-radius: 15px;
  display: inline-block;
}

.business {
  margin-right: 30px;
}

/* === Sample Blog Post Styles === */

.sample-blog {
  margin-bottom: 30px;
}

/* === Blog Post With Image === */

.pic-blog img {
  border-radius: 15px 15px 0px 0px;
}

.pic-blog {
  height: 681px;
  margin-bottom: 30px;
}

.pic-blog .blog-wrap {
  border-radius: 0px 0px 15px 15px;
}

/* === Another Blog Post === */

.another-blog {
  margin-bottom: 40px;
}

/* === Second Column === */

/* Styles */

/* Positioning */

.latest-news, .rec-news, .categories {
  margin-bottom: 30px;
}

.second-column {
  margin-bottom: 330px;
  margin-top: 40px;
  vertical-align: top;
}

/* === Categories Styles === */

.ver-button {
  width: 100%;
  line-height: 15px;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding: 17px 30px 18px;
  white-space: nowrap;
  background-color: #ffffff;
  color: #211138;
}

/* === Footer Styles === */

footer {
  width: 100%;
  line-height: 15px;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #211138;
  padding: 43px 245px 42px;
  color: #b2acba;
}

span {
  color: #6200ea;
}

